#navbar{
    cursor: pointer;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
#navbar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
#navbar a:hover{
    color: #f1f1f1;
}



#main-doc{
    margin-left: 160px;
    padding: 0 10px;
}




@media screen and (max-height: 450px) {
    #navbar {padding-top: 15px;}
    #navbar a {font-size: 18px;}
  }
  body{
      font-family: "Lato", sans-serif;
      font-size: 25px;
  }
  h1{
      color: white;
      width: 160px;
      height: 100%;
      position: relative;
      top: 0;
      left: 0;
      overflow-x: hidden;
      font-size: 22px;
  }
  .header-bold{
      font-weight: bold;
      font-size: 35px;
  }

  section{
      margin: 50px 0 0px 60px;
  }